<table cellpadding="5" cellspacing="5" border="1">
    <thead>
        <tr>
            <th>Box No</th>
            <th>MDN</th>
            <th>IMEI</th>
            <th>Serial Number</th>
            <th>ICCID</th>
            <th>PRODUCT NAME</th>

    </thead>

    {list}
    <tbody>
        <tr>
            <td>{outer_box}</td>
            <td>{MDN}</td>
            <td>'{IMEI}</td>
            <td>{serial_no}</td>
            <td>'{param}</td>
            <td>{Product_Name_Combination}</td>
        </tr>
    </tbody>
    {/list}
</table>