<table cellpadding="5" cellspacing="5" border="1">
    <thead>
        <tr>
            <th>ICCID</th>
            <th>IMSI</th>
            <th>PIN1</th>
            <th>PUK1</th>
            <th>PIN2</th>
            <th>PUK2</th>
            <th>Ki</th>
            <th>ADM</th>
            
            

    </thead>

    {list}
    <tbody>
        <tr>
            <td>{ICCID}</td>
            <td>{IMSI}</td>
            <td>{PIN1}</td>
            <td>{PUK1}</td>
            <td>{PIN2}</td>
            <td>{PUK2}</td>
            <td>{Ki}</td>
            <td>{ADM}</td>
            
        </tr>
    </tbody>
    {/list}
</table>